<!DOCTYPE html>
<html>
 
  <head>
    <meta charset="UTF-8">
    <title>Add Person</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1>Exceeded Maximum Records</h1>
      <p>抱歉，報名人數已滿</p>
      <button onclick="history.back()" class="btn btn-primary">back</button>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
 </html>
